<div class="span-7">
  <h2>Authentication required</h2>
</div>

<div class="span-15 leftborder last">
	<h3>Your credentials, please!</h3>
	<% form_tag session_path do %> 
		<p>
			<strong>Login:</strong><br /><%= text_field_tag :login %>
		</p>
		<p>
	  	<strong>Password:</strong><br /><%= password_field_tag :password %>  
		</p>
		<p>
	  	<%= submit_tag "Login" %>  
		</p>
	<% end %>
</div>