<hr class="space" />
<hr/>
<div class="span-7 colborder">
  <h2>Blog posts<%= "<br />by #{@user.name}" if @user %></h2>
</div>
<div class="span-15 last">
	<% @entries.each do |entry| %>
		<%= render :partial => 'entries/entry', :locals => {:entry => entry} %>
	<% end %>
</div>