<div class="span-7 colborder">
  <h2><%= PLANETOID_CONF[:layout][:entries][:title] %></h2>
</div>
<div class="span-15 last">
	<% @entries.each do |entry| %>
		<%= render :partial => 'entries/entry', :locals => {:entry => entry} %>
	<% end %>
</div>
<hr class="space" />
<hr/>