<div class="span-7">
  <h2>Members</h2>
</div>

<div class="span-15 leftborder last">
	<% @users.each do |user| %>
		<%= render :partial => 'users/user', :locals => { :user => user } %>
		<% if user != @users.last %>
			<hr />
		<% end %>
	<% end %>
</div>
<hr class="space" />
<hr/>