<div class="span-7">
  <h2>Members</h2>
</div>

<div class="span-15 leftborder last">
	<% @users.each do |user| %>
		<%= render :partial => 'users/user', :locals => { :user => user } %>
		<%= "<hr />" if user != @users.last %>
	<% end %>
</div>
<hr class="space" />
<hr/>