<div class="span-7 colborder">
  <h2>slides</h2>
</div>
<div class="span-15 last">
	<object style="margin:0px"  width="538" height="341">
		<param name="movie" value="http://static.slidesharecdn.com/swf/egowidget2.swf"/>
		<param name="allowFullScreen" value="true"/>
		<param name="allowScriptAccess" value="always"/>
		<embed src="http://static.slidesharecdn.com/swf/egowidget2.swf" flashVars="feedurl=user/<%= @user.slideshare_user %>&widgettitle=<%= @user.name%> - <%= @user.slideshare_url %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="538" height="341">
		</embed>
	</object>
</div>
<hr class="space" />
<hr/>