<% if session[:admin] %>
<div style="float:right; border: 1px solid orange; padding: 5px;">
	<strong>admin</strong>: <%= link_to 'users', users_path %> |
	 <%= link_to 'feeds', feeds_path %> | 
	 <%= link_to 'projects', projects_path %> | 
	 <%= link_to 'log out', logout_path %>
</div>
<% end %>