<% if flash[:notice] %>
	<p style="color: green; width: 100%; padding: 5px; border: 1px solid green; text-align: center;"><%= flash[:notice] %></p>
<% end %>

<% if flash[:error] %>
	<p style="color: red; width: 100%; padding: 5px; border: 1px solid red; text-align: center;"><%= flash[:red] %></p>
<% end %>