<div class="span-7 colborder">
  <h2><%= PLANETOID_CONF[:site][:footer][:title] %></h2>
</div>
<div class="span-15 last">
	<p><%= PLANETOID_CONF[:site][:footer][:content] %></p>
</div>
<hr/>
<center>
	<small>
		Proudly powered by <strong><a href="http://github.com/jaimeiniesta/planetoid">Planetoid</a></strong>
	</small>
</center>