<hr class="space" />
<hr/>

<div class="span-7 colborder">
  <h2>Footer</h2>
</div>
<div class="span-15 last">
	<p>This is the footer, you can edit its contents on the file app/views/shared/_footer.html.erb. A footer is a good place to put some credits on your site, a copyleft notice, some links, etc. Or just leave it blank, as you prefer.</p>
</div>
<hr>