<%= render :partial => 'shared/admin_links' %>
<h1><a href="/">Planetoid</a></h1>
<hr>

<div class="span-7 colborder">
  <h2>Header</h2>
</div>

<div class="span-15 last">
	<p>This is the header, you can find it on app/views/shared/_header.html.erb. Feel free to edit this file to put an introduction to the site, or edit its contents to leave it blank, as you wish. A header is a good place to explain your mission to the world, what the visitor can find here, how to contact you, stuff like that.</p>
</div>
<hr>