<div class="span-7 colborder">
  <h2>Projects<%= "<br />by #{@user.name}" if @user %></h2>
</div>
<div class="span-15 last">
	<% @projects.each do |p| %>
		<%= render :partial => 'projects/project', :locals => {:project => p} %>
	<% end %>
</div>
<hr class="space" />
<hr/>