<div class="span-7">
  <h2>Projects</h2>
</div>

<div class="span-15 leftborder last">
	<% @projects.each do |project| %>
		<%= render :partial => 'projects/project', :locals => { :project => project } %>
		<%= "<hr />" if project != @projects.last %>
	<% end %>

	<% if admin? %>
		<br class="clear" />
		<p>
			<%= link_to 'New project', new_project_path %>
		</p>
	<% end %>
</div>