<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Planetoid</title>
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/stylesheets/custom.css" type="text/css" media="screen, projection">
  <!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>

<body>

	<div class="container">  
		
		<%= render :partial => 'shared/header' %>
		
		<%= render :partial => 'shared/flashes' %>
		
		<%= yield %>

		<%= render :partial => 'shared/footer' %>

	</div>

</body>
</html>